.c-top-bar{height:46px; line-height:46px; background-color:#07a7e1;}
.c-top-bar .mui-title{color:#fff;;}
.c-top-bar a{color:#fff;}

.mui-slider-title{color:#fff; top:150px;}
.mui-slider-indicator .mui-indicator{margin:1px 3px;}
.mui-slider-indicator{padding-right:10px;}
.mui-slider .mui-slider-group .mui-slider-item{height:180px;}
.mui-slider{height:180px;}


.c-index-fast-nav{background-color:#fff; position:relative; overflow:hidden;}
.c-index-fast-nav a{display:block; background-color:#fff; position:absolute; overflow:hidden;}
.c-index-fast-nav a img{width:100%;}
.c-index-fast-nav .c-yyy{border-right:1px solid #eee;}
.c-index-fast-nav .c-myshow{border-bottom:1px solid #eee;}
.c-index-fast-nav .c-interact{border-left:1px solid #eee;}

.c-index-h{height:36px; line-height:36px; padding:0 10px; margin-top:10px; background-color:#fff; font-size:16px;}
.c-index-h strong{color:#00a6e4; float:left;}
.c-index-h .more{color:#ccc; float:right; font-size:14px;}
.c-index-h .more .mui-icon{font-size:18px;}
.c-index-cell-3{width:100%; height:140px; background-color:#fff;}
.c-index-cell-3 a{display:block; width:33.3%; float:left; text-align:center;}
.c-index-cell-3 a img{width:90px; height:90px;}
.c-index-cell-3 a .c-title{width:86%; margin-top:10px; height:32px; line-height:16px; margin:0 auto; font-size:14px; color:#555; overflow:hidden; text-overflow:ellipsis;}

.c-index-cell-1{background-color:#fff;}
.c-index-cell-1 a{display:block; height:70px; padding:0 10px 10px 10px;}
.c-index-cell-1 a img{width:80px; height:60px; margin-right:10px; float:left;}
.c-index-cell-1 .c-title{height:20px; font-size:14px; color:#333; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.c-index-cell-1 .c-summary{height:40px; font-size:12px; color:#666; overflow:hidden;}

.c-head-segment{margin-top:2px;}
.c-head-segment a{display:inline-block; width:60px; height:26px; line-height:26px; border:1px solid #fff; font-size:14px; font-weight:normal;}
.c-head-segment a.on{background-color:#fff; color:#07a7e1;}
.c-head-segment a:last-child{margin-left:-1px; border-radius: 0 3px 3px 0;}
.c-head-segment a:first-child{border-radius:3px 0 0 3px;}
