.c-interaction-list{padding-bottom:40px; background-color:#fff;}
.c-interaction-list ul{list-style:none; padding:0; margin:0;}
.c-interaction-list ul li{width:20%; margin-left:10%; margin-top:30px; float:left; text-align:center; font-size:12px;}
.c-interaction-list ul li img{width:100%; border-radius:50%; border:1px solid #eee;}