body{background-color:#176aae;}
.c-blue-top{background-color:#07a7e1;}
.mui-bar .mui-btn-link{color:#fff;}
.mui-title{color:#fff;}
.c-shack-content{margin-top:44px; color:#176aae;}
.c-shack-option{padding:20px 0; margin-top:-20px; background-color:#176aae; font-size:14px; text-align:center;}
.c-shack-option a{display:inline-block; padding:0 20px; color:#fff;}

#c-shack-ico{position:absolute;
	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
}
#c-shack-ico.shack{
	-webkit-animation-name: shake-hard;
	-webkit-animation-duration: 200ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 0s;
	-webkit-animation-play-state: running;
}
@-webkit-keyframes shake-hard {
 0% {
 -webkit-transform: translate(0px, 0px) rotate(0deg)
}
 2% {
 -webkit-transform: translate(5px, -4px) rotate(-2.5deg)
}
 4% {
 -webkit-transform: translate(-10px, 5px) rotate(2.5deg)
}
 6% {
 -webkit-transform: translate(0px, 5px) rotate(-3.5deg)
}
 8% {
 -webkit-transform: translate(-6px, -10px) rotate(-1.5deg)
}
 10% {
 -webkit-transform: translate(2px, -7px) rotate(1.5deg)
}
 12% {
 -webkit-transform: translate(0px, 1px) rotate(0.5deg)
}
 14% {
 -webkit-transform: translate(7px, -9px) rotate(-0.5deg)
}
 16% {
 -webkit-transform: translate(-8px, 4px) rotate(-2.5deg)
}
 18% {
 -webkit-transform: translate(-9px, -4px) rotate(-0.5deg)
}
 20% {
 -webkit-transform: translate(-8px, -8px) rotate(0.5deg)
}
 22% {
 -webkit-transform: translate(-7px, 0px) rotate(-0.5deg)
}
 24% {
 -webkit-transform: translate(-10px, -5px) rotate(-3.5deg)
}
 26% {
 -webkit-transform: translate(1px, -10px) rotate(-0.5deg)
}
 28% {
 -webkit-transform: translate(5px, 2px) rotate(-1.5deg)
}
 30% {
 -webkit-transform: translate(-8px, 5px) rotate(-0.5deg)
}
 32% {
 -webkit-transform: translate(-4px, 2px) rotate(1.5deg)
}
 34% {
 -webkit-transform: translate(-9px, 8px) rotate(1.5deg)
}
 36% {
 -webkit-transform: translate(8px, -3px) rotate(1.5deg)
}
 38% {
 -webkit-transform: translate(-10px, 7px) rotate(-0.5deg)
}
 40% {
 -webkit-transform: translate(-7px, 1px) rotate(-3.5deg)
}
 42% {
 -webkit-transform: translate(-9px, 7px) rotate(0.5deg)
}
 44% {
 -webkit-transform: translate(4px, 2px) rotate(-3.5deg)
}
 46% {
 -webkit-transform: translate(8px, 4px) rotate(2.5deg)
}
 48% {
 -webkit-transform: translate(-5px, -1px) rotate(-2.5deg)
}
 50% {
 -webkit-transform: translate(-7px, 5px) rotate(-2.5deg)
}
 52% {
 -webkit-transform: translate(-1px, -7px) rotate(-3.5deg)
}
 54% {
 -webkit-transform: translate(-2px, -3px) rotate(0.5deg)
}
 56% {
 -webkit-transform: translate(-4px, -6px) rotate(-2.5deg)
}
 58% {
 -webkit-transform: translate(5px, 4px) rotate(-2.5deg)
}
 60% {
 -webkit-transform: translate(-3px, 2px) rotate(-0.5deg)
}
 62% {
 -webkit-transform: translate(-4px, -10px) rotate(-1.5deg)
}
 64% {
 -webkit-transform: translate(-4px, -9px) rotate(-2.5deg)
}
 66% {
 -webkit-transform: translate(3px, -8px) rotate(-1.5deg)
}
 68% {
 -webkit-transform: translate(-5px, -2px) rotate(0.5deg)
}
 70% {
 -webkit-transform: translate(-3px, -1px) rotate(-3.5deg)
}
 72% {
 -webkit-transform: translate(9px, -2px) rotate(0.5deg)
}
 74% {
 -webkit-transform: translate(7px, -6px) rotate(-2.5deg)
}
 76% {
 -webkit-transform: translate(1px, 2px) rotate(-1.5deg)
}
 78% {
 -webkit-transform: translate(-3px, -5px) rotate(-1.5deg)
}
 80% {
 -webkit-transform: translate(-5px, 3px) rotate(2.5deg)
}
 82% {
 -webkit-transform: translate(-2px, -1px) rotate(-3.5deg)
}
 84% {
 -webkit-transform: translate(-8px, 7px) rotate(0.5deg)
}
 86% {
 -webkit-transform: translate(-2px, 4px) rotate(-0.5deg)
}
 88% {
 -webkit-transform: translate(4px, 7px) rotate(-3.5deg)
}
 90% {
 -webkit-transform: translate(2px, 7px) rotate(0.5deg)
}
 92% {
 -webkit-transform: translate(-3px, 6px) rotate(-3.5deg)
}
 94% {
 -webkit-transform: translate(1px, 8px) rotate(1.5deg)
}
 96% {
 -webkit-transform: translate(-8px, -2px) rotate(1.5deg)
}
 98% {
 -webkit-transform: translate(-5px, 6px) rotate(0.5deg)
}
}
